
%h1 Lezioni private prenotate


%table#privatelessons
  
  %thead
    %tr
      %th Personal Trainer
      %th Inizio
      %th 
  %tbody
    - @bookedprivatelessons.each do |bookedprivatelesson|
      %tr
        %td= User.find(bookedprivatelesson.private_lesson.user_id).nome + " " + User.find(bookedprivatelesson.private_lesson.user_id).cognome
        %td= bookedprivatelesson.private_lesson.inizio
        %td= link_to 'Cancella', delete_path(bookedprivatelesson),  :method => :delete
