%h1 Prenota una lezione privata


%table#privatelessons
  
  %thead
    %tr
      %th Personal Trainer
      %th Inizio
      %th Durata
      %th 
  %tbody
    - @privatelessons.each do |privatelesson|
      %tr
        %td= User.find(privatelesson.user_id).nome + " " + User.find(privatelesson.user_id).cognome
        %td= privatelesson.inizio
        %td 60 minuti
        %td= link_to 'Prenota', book_path(privatelesson), :method => :post

