body{
padding-top: 55px;
}

h1 {
    color: FF0000;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

.big-padding{padding: 6 px 0;}


.flash {
 color: FF0000;
    text-align: center;
}
